<% include ../_partials/head.ejs %>
<div id="wrapper">
    <header class="highlight">
        <a class="main-picture" href="#"><img src="images/stanislas-chollet.jpg" alt="<%= user.displayName %>" /></a>
        <h1 class="fullname"><%= user.displayName %></h1>
        <div class="description"><%= user.bio %></div>
        <div class="place"><%= user.location %></div>
    </header>
    <section id="boxes"></section>
</div>
<% include ../_partials/foot.ejs %>