<% include ../_partials/head.ejs %>
<div id="wrapper">
    <p>Default regform.</p>
    <form>
        <label>Username</label>
        <input type="text" name="username" />
        <label>Email</label>
        <input type="text" name="email" />
        <label>Password</label>
        <input type="password" name="password" />
        <input type="submit" value="Register" />
    </form>
</div>
<div id="form-react"></div>
<div id="boxes"></div>
<% include ../_partials/foot.ejs %>