<% include ../_partials/head.ejs %>
<div id="wrapper">
    <p>Instagram regform.</p>
    <hoole-regform-instagram
            photoUrl="<%= photoUrl %>"
            username="<%= username %>"
            email=""
            bio="kevin">
    </hoole-regform-instagram>
</div>
<% include ../_partials/foot.ejs %>